
        
        <form action="/admin/add-product" method="post" class="">
            <div class="row text-center m-2">
                <h5>Create Product</h5>
            </div>
            <div class="form-label">
                <label for="">
                    Title
                </label>
                <div>
                    <input type="text" placeholder="Product Title" name="product" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

</body>

</html>