<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="text-white nav-link active" href="/general/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container mt-3">
        <% if(hasProducts){ %>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img src="https://i.ytimg.com/an_webp/W6NZfCO5SIk/mqdefault_6s_480x270.webp?du=3000&sqp=CJnvmYsG&rs=AOn4CLBQCQBOSNuePpgSHIueeWyxpBdZcg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                        </div>
                    </div>

                </div>
            </div>

            <%3 } else { %>
                <div>Card Empty</div>
                    <% } %>
    </main>

</body>

</html>